/* ================================= 
  Flexbox
==================================== */

.container {
  display: flex;
  /*flex-direction: column-reverse;
 
  flex-direction: column; 
  height: 350px; */
  flex-wrap: wrap;
  justify-content: space-around;
}
/*
.item-2 {
  margin-right: auto;
}
*/

.item-5 {
  order: -1;
}

.item-1 {
  order: -2;
}