/* ================================= 
  Flexbox
==================================== */

.container {
  display: flex;
  /*flex-direction: column-reverse;
 
  flex-direction: column; 
  height: 350px; */
  flex-wrap: wrap;
}

  /*
  justify-content: space-around;
  flex-direction: column;
  justify-content: space-between
}

.item-2 {
  margin-right: auto;
}


.item-5 {
  order: -1;
}

.item-1 {
  order: -2;
}
*/


.item {
  flex-grow: 1;
}


.item-1 {
  flex-grow: 4;
}