/* ================================= 
  Flexbox
==================================== */

.container {
  display: flex;
  /*flex-direction: column-reverse;
 
  flex-direction: column; 
  height: 350px; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-1 {
  margin-right: auto;
}